.app {
  background-color: #282c34;
}

body {
  background-color: #282c34;
}

.locIcon {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

img:not(.appLogo):not(.locIcon) {
  width: auto;
  height: auto;
  object-fit: contain;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}

.appLogo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 25px;
}

@media (prefers-reduced-motion: no-preference) and (min-width: 600px) {
  .appLogo {
    animation: logoSpin infinite 20s linear;
  }
  .gridContainer { grid-template-columns: repeat(3, 1fr); }
}

@media (prefers-reduced-motion: no-preference) and (max-width: 600px) {
  .appLogo {
    animation: logoSpin infinite 20s linear;
  }
  .gridContainer { grid-template-columns: repeat(1, 1fr); }
}

.inputGroup { 
  display: flex;
  align-items: center;
  padding: 1rem;
}

.btn {
  margin-left: 12px;
  position: absolute;
  width: calc(10px + 2vmin);
  height: auto;
  border-radius: 0px;
  background: white;
  padding: 2px;
}

.btn:hover {
  opacity: 0.5;
}

input {
  position: relative;
  margin-top: 10px;
  border-radius: 25px;
  text-align: center;
  font-family: "Verdana";
  font-size: calc(10px + 2vmin);
  color: #533e64;
  padding: 5px;
  margin-bottom: 10px;
}

input:focus {
  outline: none;
}

.gridContainer {
  margin: 5%;
  position: absolute;
  display: grid;
  gap: 75px;
  left: 0;
  right: 0;
}

.gridItem {
  cursor: pointer;
  border-radius: 25px;
  background: #E7E0D3;
  text-align: center;
  font-family: "Verdana";
  font-size: calc(10px + 2vmin);
  color: #533e64;
}

.gridItem:hover {
  opacity: 0.5;
}

.appHeader {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Verdana";
  font-size: calc(10px + 2vmin);
  color: white;
}

.appLink {
  position: relative;
  margin-top: 1%;
  color: #a4ddec;
}

.appLink:hover {
  opacity: 0.5;
}

@keyframes logoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
