.app {
    background-color: #282c34;
}

body {
    background-color: #282c34;
}

.progressMessage {
    color: #ed1c24;
    font-size: 75%;
    font-style: italic;
}

input[type="search"]::-webkit-search-cancel-button {
    background-size: 100% 100%;
    width: 0.5em;
    height: 0.5em;
    background-image: url('./cancel.png');
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 12px;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.nameDiv {
    color:#46A35F;
    margin-top: 5%;
    margin-bottom: 5px;
}

.locDescription {
    color: #533e64;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    margin-block: 5px;
}

.petDescription {
    float: inline-end;
    color: #533e64;
    font-size: 0.75em;
    margin-top: 5px;
    margin-bottom: 5%;
    margin-inline: 5%;
}

.icon {
    width: 1.5em;
    height: 1.5em;
}

img:not(.appLogo):not(.search):not(.icon) {
    width: auto;
    height: auto;
    max-width: 85%;
    max-height: 250px;
    object-fit: contain;
    border-radius: 25px;
}

@media (prefers-reduced-motion: no-preference) and (min-width: 601px) {
    .appLogo {
        animation: logoSpin infinite 12s linear;
    }
    .gridContainer { grid-template-columns: repeat(3, 1fr); }
}

@media (prefers-reduced-motion: no-preference) and (max-width: 600px){
    .appLogo {
        animation: logoSpin infinite 12s linear;
    }
    .gridContainer { grid-template-columns: repeat(1, 1fr); }
}

.inputGroup { 
    display: flex;
    align-items: center;
    padding: 1rem;
}

.btn {
    cursor: pointer;
    position: fixed;
    border: 5px outset #7f3380;
    border-radius: 25px;
    background-color: transparent;
    margin-left: 3.5%;
    margin-top: 3.5%;
    text-align: center;
    font-family: "Verdana";
    font-size: calc(10px + 2vmin);
    color: #a249a4;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.btn:hover {
    opacity: 0.5;
}

.search {
    cursor: pointer;
    margin-left: 12px;
    position: absolute;
    width: calc(10px + 2vmin);
    height: auto;
    border-radius: 0px;
    padding: 2px;
}

.search:hover {
    opacity: 0.5;
}

input {
    position: relative;
    margin-top: 10px;
    border-radius: 25px;
    text-align: center;
    font-family: "Verdana";
    font-size: calc(10px + 2vmin);
    color: #533e64;
    padding: 5px;
}

input:focus {
    outline: none;
}

.checkGroup { 
    margin-left: 50px;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.chk {
    position: relative;
    margin-right: 50px;
}

.gridContainer {
    position: absolute;
    display: grid;
    gap: 50px;
    margin: auto;
    left: 0;
    right: 0;
}

.gridItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 5%;
    cursor: pointer;
    border-radius: 20px;
    background: #E7E0D3;
    text-align: center;
    font-family: "Verdana";
    font-size: calc(10px + 2.5vmin);
    color: #533e64;
}

.gridItem:hover {
    opacity: 0.5;
}

.appHeader {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Verdana";
    font-size: calc(10px + 2vmin);
    color: white;
}

.appLink {
    position: relative;
    color: #a4ddec;
}

.appLink:hover {
    opacity: 0.5;
}


.appLogo {
    height: 50vmin;
    pointer-events: none;
    margin-bottom: 25px;
}

@keyframes logoSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
